{{!-- Layout αρχικής σελίδας του admin --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Icarus</title>
  <link rel="airport icon" href="images/airport_logo.png">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/{{style}}">
</head>
<body>
    <div class="header">
        <div class="menu">
            <div class="menu-left">
                <div class="logo"><a href="/main-page-admin"><img src="images/Icarus-logo.png"></a></div>
                <div class="flights"><a href="/flights">Πτήσεις</a></div>
                <div class="companies"><a href="/companies-admin/Α">Εταιρείες</a></div>
                <div class="shops"><a href="/shops">Καταστήματα</a></div>
            </div>
            <div class="menu-right">
                <button class="sign-up">Λογαριασμός</button>
            </div>
        </div>
        <div class="description" id="description">
            <p>
                Το αεροδρόμιο Icarus είναι το μεγαλύτερο αεροδρόμιο της Ελλάδας και βρίσκεται στην πρωτεύουσα της, την Αθήνα.<br><br>Ξεκίνησε τη λειτουργία του το 1995 και σήμερα εξυπηρετεί πάνω από 1000 πτήσεις καθημερινά. <br><br>Ονομάστηκε έτσι προς τιμήν του Ίκαρου, από το μύθο του Ίκαρου και του Δαίδαλου. <br><br>~ Σας ευχόμαστε μια όμορφη πτήση ~
            </p>
        </div>
    </div>
    
    
    {{{body}}}

   
    <footer>
    <div class="anakoinoseis">
            <a><h3>Ανακοινώσεις</h3></a>
            <div class="anak">
                <a href="/announcements-admin/search?priority=high">Επείγουσες ανακοινώσεις</a>
            </div>
            <div class="anak">
                <a href="/announcements-admin/search?priority=normal">Γενικές ανακοινώσεις</a>
            </div>
    </div>
    <div class="communication-details"><h3>Στοιχεία επικοινωνίας</h3>
        <div>📞 2610567891</div>
        <div>📌 Αττική Οδός, Δήμος Σπάτων - Αρτέμιδος 190 04</div>
        <div>📧 info@icarus.gr</div>
        <div class="working-hours">Ώρες λειτουργίας αεροδρομίου: 24/7</div>
    </div>
    <div class="links">
        <h3>Χρήσιμα links</h3>
        <div class="lin">
            <a href="/flights">Aναχωρήσεις-Aφίξεις</a>
        </div>
        <div class="lin">
            <a href="/main-page-admin#header">Σχετικά με εμάς</a>
        </div>
        <div class="lin">
            <a href="/main-page-admin#covid" onclick="covid_on()">Μέτρα Covid</a>
        </div>
    </div>
</footer>
<script src="js/{{script}}"></script>
<script src="https://kit.fontawesome.com/553fd7f413.js" crossorigin="anonymous"></script>
</body>
</html>
