<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icarus</title>
    <link rel="airport icon" href="/images/airport_logo.png">
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sign-up.css">
    <link rel="stylesheet" href="/css/log-in.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script defer src="/js/{{script}}"></script>
    <script defer src="/js/sign-up.js"></script>
    <script defer src="/js/log-in.js"></script>
</head>
<body>
    <div class="menu">
        <div class="menu-left">
            {{#unless both}}
                <div class="logo"><a href="/main-page"><img src="/images/Icarus-logo.png"></a></div>
                {{/unless}}
                {{#if userId}}
                <div class="logo"><a href="/main-page"><img src="/images/Icarus-logo.png"></a></div>
                <div class="flights"><a href="/flights">Πτήσεις</a></div>
                <div class="companies"><a href="/companies/Α">Εταιρείες</a></div>
                <div class="shops"><a href="/shops">Καταστήματα</a></div>
                {{/if}}
                {{#if adminId}}
                <div class="logo"><a href="/main-page-admin"><img src="/images/Icarus-logo.png"></a></div>
                <div class="flights"><a href="/flights">Πτήσεις</a></div>
                <div class="companies"><a href="http://localhost:3000/companies-admin/Α">Εταιρείες</a></div>
                <div class="shops"><a href="/shops">Καταστήματα</a></div>
                {{/if}}
            </div>
            {{#if userId}}
            <div class="menu-right">
                <a class="log-out" href="/log-out">Αποσύνδεση</a>
            </div>
            {{/if}}
            {{#unless both}}
            <div class="menu-right">
                <button class="sign-up">Εγγραφή</button>
                <button class="log-in">Είσοδος</button>
            </div>
            {{/unless}}
            {{#if adminId}}
            <div class="menu-right">
                <a class="log-out" href="/log-out">Αποσύνδεση</a>
            </div>
            {{/if}}
    </div>
    <div class="signup">
        <form action='/sign-up/done' method="post">
            <div class="close">&times;</div>
            <div class="name">
                <label for="fname">Ονοματεπώνυμο</label><br>
                <input type="text" id="fname" name="fname" placeholder="Όνομα" size="26" required>
                <input type="text" id="lname" name="lname" placeholder="Επώνυμο" size="26" required>
            </div>
            <div class="communication">
                <label for="number">Στοιχεία επικοινωνίας</label><br>
                <input type="tel" id="number" name="number" placeholder="Τηλέφωνο"  pattern="\d{10}" size="25" required>
                <input type="email" id="mail" name="mail" placeholder="Διεύθυνση email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" size="25" required>
            </div>       
            <div class="country">
                <label for="country">Χώρα Καταγωγής</label><br>
                <select id="country" name="country" required>
                    <option value="Greece" selected>Ελλάδα</option>
                    <option value="Cyprus">Κύπρος</option>
                    <option value="Another-country">Άλλο</option>
                </select>
            </div>
            <div class="age-sex">
                <label for="age">Ηλικία</label><br>
                <input type="number" id="age" name="age" size="3"  value="18" required>
                <span>
                    <select name="gender" required id="id_gender">
                        <option value="" selected>Φύλο</option>
                        <option value="male">Άνδρας</option>
                        <option value="female">Γυναίκα</option>
                        <option value="other">Άλλο</option>
                    </select>
                </span>
            </div>
            <div class="login2">
                <label for="username">Στοιχεία σύνδεσης</label><br>
                <input type="text" id="username" name="username" placeholder="Όνομα χρήστη" size="25" required>
                <input type="password" name="password" placeholder="Κωδικός" autocomplete="new-password" minlength="6" pattern="(?=.*[a-z])(?=.*[A-Z]).{6,}" required id="id_password">
                <div>
                    Ο κωδικός πρέπει να περιέχει τουλάχιστον 6 λατινικούς χαρακτήρες, οι οποίοι θα είναι, είτε πεζά, είτε κεφαλαία γράμματα.
                </div>
            </div>
            <div class="sub">
                <button type="submit">Εγγραφή</button>
            </div>
        </form> 
    </div>
    <div class="login">
        <form action='/log-in/done' method="post">     
            <div class="close">&times;</div>
            <div class="login3">
                <label for="username">Όνομα χρήστη</label><br>
                <input type="text" id="username2" name="username" size="25" required><br>
                <label for="passw">Κωδικός</label><br>
                <input type="password" name="password" size="25" autocomplete="new-password" minlength="6" pattern="(?=.*[a-z])(?=.*[A-Z]).{6,}" required id="id_password2">
            </div>
            <div class="sub">
                <button type="submit">Είσοδος</button>
            </div>
        </form> 
    </div>

    {{{body}}}


    <footer>
        <div class="anakoinoseis">
            {{#if adminId}}
            <a><h3>Ανακοινώσεις</h3></a>
            <div class="anak">
                <a href="/announcements-admin/search?priority=high">Επείγουσες ανακοινώσεις</a>
            </div>
            <div class="anak">
                <a href="/announcements-admin/search?priority=normal">Γενικές ανακοινώσεις</a>
            </div>
            {{/if}}
            <a><h3>Ανακοινώσεις</h3></a>
            <div class="anak">
                <a href="/announcements/search?priority=high">Επείγουσες ανακοινώσεις</a>
            </div>
            <div class="anak">
                <a href="/announcements/search?priority=normal">Γενικές ανακοινώσεις</a>
            </div>
        </div>
        <div class="communication-details"><h3>Στοιχεία επικοινωνίας</h3>
            <div>📞 2610567891</div>
            <div>📌 Αττική Οδός, Δήμος Σπάτων - Αρτέμιδος 190 04</div>
            <div>📧 info@icarus.gr</div>
            <div class="working-hours">Ώρες λειτουργίας αεροδρομίου: 24/7</div>
        </div>
        <div class="links">
            <h3>Χρήσιμα links</h3>
            {{#if both}}
            <div class="lin">
                <a href="/flights">Aναχωρήσεις-Aφίξεις</a>
            </div>
            {{/if}}
            <div class="lin">
                <a href="/main-page#header">Σχετικά με εμάς</a>
            </div>
            <div class="lin">
                <a href="#covid" onclick="covid_on()">Μέτρα Covid</a>
            </div>
        </div>
    </footer>
</body>
</html>