<div class="head">Ανακοινώσεις</div>
<div class="main">
    <div class="announcements-container">
        <form class="search-announcements" method="GET" action="http://localhost:3000/announcements/search">
            <div class="options">
                <label for="priority">Προτεραιότητα</label>
                <select id="priority" name="priority">
                    <option value="normal">Κανονική</option>
                    <option value="high">Υψηλή</option>
                    <option value="all">Όλες</option>
                </select>
                <input type="submit" value="Search">
            </div>
        </form>
        <table>
            <thead>
                <tr class="title">
                    <th>Τίτλος</th>
                    <th>Ημερομηνία Δημοσίευσης</th>
                </tr>
            </thead>
            <tbody>
                {{#each announcements}}
                <tr class="title">
                    <td><a href="http://localhost:3000/announcements/id/{{announcement_ID}}">{{theme}}</a></td>
                    <td>{{ann_date}} {{ann_time}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div id="covid" >
    <div class="wrap">
        <div class="close" onclick="covid_off()">&times;</div>
        <div class="covidtext"></div>
    </div>
</div>

