{{#if adminId}}
<div id="text-editor">
<div class="text-editor-header">
        <button class="btn" title="Bold Text" data-element="bold"><i class="fa fa-bold"></i></button>
        <button class="btn" title="Italic Text" data-element="italic"><i class="fa fa-italic"></i></button>
        <button class="btn" title="Underline" data-element="underline"><i class="fa fa-underline"></i></button>
        <button class="btn" title="Ordered list" data-element="insertOrderedList"><i class="fa fa-list-ol"></i></button>
        <button class="btn" title="Unordered list" data-element="insertUnorderedList"><i class="fa fa-list-ul"></i></button>
        <button class="btn" title="Create a link" data-element="createLink"><i class="fa fa-link"></i></button>
        <button class="btn" title="Left Align" data-element="justifyLeft"><i class="fa fa-align-left"></i></button>
        <button class="btn" title="Center Align" data-element="justifyCenter"><i class="fa fa-align-center"></i></button>
        <button class="btn" title="Right Align" data-element="justifyRight"><i class="fa fa-align-right"></i></button>
        <button class="btn" title="Justify Full" data-element="justifyFull" ><i class="fa fa-align-justify"></i></button>
        <button class="save btn" title="Save text" onclick="save()">Save</button> 
</div>
<div class="content" id="textarea" contenteditable="true"></div>
</div>
<div class="main-menu" id="main-menu">
<h2 class="passengers-information">Πληροφορίες Επιβατών</h2>
<div class="choices">
    <div class="special-needs">
        <button onclick="sn_on()" title="Πληροφορίες για άτομα με αναπηρία ή μειωμένη κινητικότητα"><h2>Υπηρεσίες Υποστήριξης Επιβατών</h2></button>                
    </div>  
    <div class="covid-19">
        <button onclick="covid_on()" title="Covid-19 Χρήσιμες Πληροφορίες για τους επιβάτες"><h2>Πληροφορίες για covid-19</h2></button>
    </div>  
    <div class="parking-info">
        <button onclick="parking_on()" title="Πληροφορίες για τη στάθμευση στο αεροδρόμιο" ><h2>Στάθμευση στο αεροδρόμιο</h2></button> 
    </div>  
    <div class="pets">
        <button onclick="pets_on()" title="Πληροφορίες σχετικά με τα κατοικίδια" ><h2>Ταξιδεύοντας με κατοικίδια</h2></button> 
    </div>  
    <div class="currency">
        <button onclick="currency_on()" title="Πληροφορίες σχετικά με συναλλαγματικούς περιορισμούς" ><h2>Συναλλαγματικοί περιορισμοί</h2></button> 
    </div>  
    <div class="customs">
        <button onclick="customs_on()" title="" ><h2>Σημεία ελέγχου</h2></button> 
    </div>  
    </div>
</div>
<div id="special-needs-text" >
<div class="wrap">
    <div class="close"  onclick="sn_off()">&times;</div>
    <div class="specialneedstext"></div>           
    <button class="edit" onclick="edit('.specialneedstext','special-needs-text')">Επεξεργασία</button>    
</div>
</div>
<div id="covid" >
    <div class="wrap">
        <div class="close" onclick="covid_off()">&times;</div>
        <div class="covidtext"></div>
        <button class="edit" onclick="edit('.covidtext','covid')">Επεξεργασία</button>    
    </div>
</div>
<div id="parking" >
    <div class="wrap">
        <div class="close"  onclick="parking_off()">&times;</div>
        <div class="parkingtext"></div>
        <button class="edit" onclick="edit('.parkingtext','parking')">Επεξεργασία</button>    
    </div>
</div>
<div id="pets_text">
<div class="wrap">
    <div class="close"  onclick="pets_off()">&times;</div>
    <div class="petstext"></div>
    <button class="edit" onclick="edit('.petstext','pets_text')">Επεξεργασία</button>    
</div>
</div>

<div id="currency_text">
<div class="wrap">
    <div class="close"  onclick="currency_off()">&times;</div>
    <div class="currencytext"></div>
    <button class="edit" onclick="edit('.currencytext','currency_text')">Επεξεργασία</button>    
</div>
</div>

<div id="customs_insection_text">
<div class="wrap">
    <div class="close"  onclick="customs_off()">&times;</div>
    <div class="customstext"></div>
    <button class="edit" onclick="edit('.customstext','customs_insection_text')">Επεξεργασία</button>    
    </div>
</div>
<script src="https://kit.fontawesome.com/553fd7f413.js" crossorigin="anonymous"></script>
{{/if}}
