footer{
    font-size: 0.8em;
    width:100%;
    margin-top:3em;
    padding:1em 0em 0em 0em;
    background-color:rgb(25, 25, 25);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    bottom:0;
}
footer a{
    text-decoration: none;
    color: white;
}

footer h3{
    border-bottom:0.2em solid grey;
    text-align:center;
}
footer .anakoinoseis, footer .links, footer .communication-details{
    display: flex;
    flex-direction: column;
}
footer .communication-details div{
    align-self: center;
    padding-top: 0.2em;
}
footer .communication-details{
    padding-bottom: 1em;
}
footer .anakoinoseis div{
   padding-top: 0.5em;
   align-self: center;
}

footer .anakoinoseis .anak a:hover{
    color:rgb(249, 249, 142);
    cursor:pointer;
}

footer .links div{
   padding-top: 0.5em;
   align-self: center;
}

footer .links .lin a:hover{
    color:rgb(249, 249, 142);
    cursor:pointer;
}

@media only screen and (max-width: 800px){
    .footer{
        font-size:0.65em;
    }
} 