:root{
    color: white;
    font-size: 21px;
}
*{
    padding: 0;
    margin: 0;
}
.logo a img{
    height: 50px;
    width: 160px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top:0;
    flex-wrap: wrap;
    height: 12%;
}

.menu .menu-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu div{
    margin: 1em;
    text-align: center;
    align-self: center;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu .menu-left div:nth-child(n+2):nth-child(-n+6)::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: white;
    transition: 0.5s ease;
}
.menu .menu-left div:nth-child(n+2):nth-child(-n+6):hover::after {
    width: 100%;
}

.sign-up, .log-in {
    border-radius: 22px;
    padding: 1.25em 2em;
    border: none;
    background-color: rgb(111, 111, 111);
    margin-right: 2em;
    color: white;
}

.sign-up:hover, .log-in:hover{
    background-color: rgb(86, 85, 85);
    cursor:pointer;
}
@media only screen and (max-width: 800px){
    .menu div{
        font-size:0.75em;
    }
    .logo a img{
        height: 30px;
        width: 87px;
    }
} 

