*{
    padding: 0;
    margin: 0;
}
:root{
    font-size: 20px;
}

.header{
    min-height: 100vh;
    min-width: 100%;
    left:0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("athens.jpg");
    /*width: 100%;*/
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu a img{
    height: 50px;
    width: 160px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(10, 1.5fr);
    align-items: center;
    position: sticky;
    top:0;
}
.menu div{
    padding: 1em 1em;
    text-align: center;
    align-self: center;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu > div:nth-child(n+2):nth-child(-n+6):hover{
    text-decoration: underline white 2px;
    text-underline-offset: 3px;
    transition: linear 0.5s;
}

.sign-up{
    grid-column: 9;
}
.log-in{
    grid-column: 10;
}
.sign-up, .log-in {
    border-radius: 22px;
    padding: 1em;
    border: none;
    background-color: rgb(111, 111, 111);
    margin: 0 0.5em;
   
}
.sign-up a, .log-in a{
    color: white;
    text-decoration: none;
}

.sign-up:hover, .log-in:hover{
    background-color: rgb(86, 85, 85);
}
/*.airport-name::before{
    content: url(airport_logo.png);
}*/
/*Slider*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    grid-column: 7;
    justify-content: flex-end;
}
.theme-switch {
    display: inline-block;
    position: absolute;
    width: 60px;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 7px;
    content: "";
    height: 25px;
    left: 5px;
    position: absolute;
    transition: .4s;
    width: 25px;
}
  
input:checked + .slider {
    background-color: #66bb6a;
}
  
input:checked + .slider:before {
    transform: translateX(25px);
    background-image: url("moon2.png");
}
  
.slider.round {
    border-radius: 35px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.menu > img{
    height: 35px;
    width: 40px;
    left: 0;
}
p{
    margin: auto;
}
.header .description{
    color: white;
    margin: 20% 20%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
}
