.signup {
    position:absolute;
    top:-150%;
    left:50%;
    opacity:0;
    transform:translate(-50%,-50%) scale(1.25);
    width: 100%;
    height: 100%;
    padding-top: 20%;
    background-color: rgba(255, 255, 255, 0.45);
    transition:top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms; 
    z-index: 99;
}
body.active{
    overflow: hidden;
}
.signup.active {
    top:50%;
    opacity:1;
    transform:translate(-50%,-50%) scale(1);
    transition:top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
  }
.signup .close {
    position:absolute;
    top:0px;
    right:10px;
    width:13px;
    height:13px;
    padding: 0.1em;
    background:rgb(160, 133, 133);
    text-align:center;
    line-height:15px;
    border-radius:15px;
    cursor:pointer;
}
.signup form{
    position: relative;
    height: 500px;
    box-shadow:2px 2px 5px 5px rgba(0,0,0,0.35);
    border-radius:10px;
}
.signup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sign-up .close{
    right:0;
}
body form{
    width:40%;
    background-color: rgb(60, 59, 59);
    min-width: 330px;
}
body form > div{
    margin: 1em;
}
.age-sex span{
    margin-left: 1.75em;
}
.login2 div{
    font-size: 0.6em;
    padding-top: 0.8em;
}

.sub [type=submit] {
    border-radius: 22px;
    padding: 1.25em 2em;
    border: none;
    background-color: rgb(34, 167, 212);
    color: white;
}
.sub [type=submit]:hover{
    background-color:rgb(20, 115, 147);
    transition: all 0.25s linear;
    cursor: pointer;
}
.name [type=text], .login2 [type=text], .login2 [type=password], .communication [type=tel], .communication [type=email]{
    width:45%;
    height:2em;
    border-radius: 22px;
}
.age-sex [type=number]{
    width:10%;
    height:2em;
    min-width: 35px;
    border-radius: 22px;
}
.country select{
    width:45%;
    height:2em;
    min-width: 35px;
    border-radius: 22px;
}
.age-sex select{
    width:26%;
    height:2em;
    min-width: 75px;
    border-radius: 22px;
}