<div class="main">
    <div class="choices"></div>
    <div class="selection">
        <div class="airlines-container">
            <div class="company-info"></div>
        </div>
        <div class="companies-flights" id="companies-flights">
            <div class="company"></div>
            <div class="choices">
                <button class="arrivals" onclick="arrivals_on()">Αφίξεις</button>
                <button class="departures" onclick="departures_on()">Αναχωρήσεις</button>
            </div>
            <div class="container">
                <table class="arrivals-table">
                    <thead>
                        <tr class="row">
                            <th>Πρoέλευση</th>
                            <th>Αριθμός πτήσης</th>
                            <th>Προγραμματισμένη ημέρα-ώρα</th>
                            <th>Κατάσταση</th>
                            <th>Πύλη</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <table class="departures-table">
                    <thead>
                        <tr class="row">
                            <th>Προορισμός</th>
                            <th>Αριθμός πτήσης</th>
                            <th>Προγραμματισμένη ημέρα-ώρα</th>
                            <th>Κατάσταση</th>
                            <th>Πύλη</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>