:root{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("/Front-end/images/flights.jpg");
    background-size:cover;
    background-position: center;
    scroll-behavior: smooth;
}
.companies{
    font-weight: bold;
}

div.main{
    width:100%;
}
div.choices{
    margin:auto;
    background-color:rgba(0,0,0,0.6);
    display:flex;
    width: 30em;
    height:auto;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    padding:0.5em;
}

button.btn{
    padding:0.8em 0.8em;
    border:none;
    border:0.1em solid rgb(111, 111, 111);
    cursor:pointer;
    color:white;
    background-color:white;
    border-radius:500px;
    color:black;
}

button.touched{
    padding:0.8em 0.8em;
    border:none;
    border:0.1em solid rgb(111, 111, 111);
    cursor:pointer;
    color:white;
    background-color: rgb(111, 111, 111);
    border-radius:500px;
    cursor:default;
}

button.btn:hover,button.btn:active{
    background-color:rgb(111, 111, 111);
    color:white;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.selection{
    background-color:black;
    width:80%;
    margin:auto;
}

.airlines-container{
    overflow-y:scroll;
    height:40em;
    border:0.2em solid white;
    margin-top:1em;
}

.company-info{
    display:grid;
    grid-template:1fr/1fr;

}

.company-info .row{
    display:grid;
    grid-template-columns:repeat(2,auto);
    justify-content:space-around;
    background-color:orange;
}

.company-info .row .company{
    padding:1em 0em;
    font-size:1.2em;
    
}

.company-info .row a{
    padding:1.3em 0em;
    color:white;
    text-decoration:none;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.company-info .row a:hover{
    color:blue;
}

.company-info .row-info{
    display:grid;
    /* grid-template-columns:repeat(2,auto); */
    justify-content:space-around;
    grid-template:1fr/2fr 0.9fr;
    height:12em;
    text-align:center;
    padding:0.5em 0em;
}

.company-info .row-info .icon{
    width:23%;
    height:42%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left:23%;
    padding:1em;
}

.telephone div,.website div,.lost-found div,.entrance div{
    display:inline;
}


.company-info .row-info .details div{
    padding:0.2em 0em;
    margin:auto;
    text-align:justify;
}

.company-info .row-info .entrance{
    margin:auto;
    text-align:center;
}

.companies-flights{
    margin:1em 0em;
    display:none;
}

.companies-flights button{
    margin:1em 0em;
    width:25%;
    display:inline;
    padding:0.5em 0em;
    border:none;
    background-color:blue;
    color:white;
    font-size:1em;
    cursor:pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    font-size:0.8em;
}

.companies-flights button.touched{
    width:25%;
    display:inline;
    padding:0.5em 0em;
    border:none;
    background-color:rgb(171, 171, 15) ;
    color:white;
    font-size:0.8em;
}

.companies-flights button:hover{
    background-color:rgb(171, 171, 15) ;
}

.companies-flights .choices{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:5px;
    flex-wrap:wrap;
    margin:auto;
    background-color:black;
    width:100%;
}

.companies-flights .company{
    margin-top:1em;
    text-align:center;
    font-size:1.5em;
}

.container{
    height:30em;
    background-color:black;
    overflow-y:scroll;
    width:101.5%;
    font-size:0.9em;
}

.arrivals-table,.departures-table{
    border-collapse:collapse;
    min-width:400px;
    margin:1em 0;
    display:none;
}

thead tr{
    background-color:rgb(86, 85, 85);
    text-align:center;
    font-weight:bold;
}

th,td{
    padding:1em 4em;
}

tbody tr{
    border-bottom:1px solid #dddddd;
    text-align:center;
}

tbody tr:last-child{
    border-bottom:none;
}

.nonvisible{
    display:none;
}


.buttons{
    display:grid;
    grid-template:1fr/auto auto;
    gap:10px;
}


button.edit,button.remove,button.submit{
    background-color: blue;
    color: white;
    padding:1em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    margin-top:1em;
}

button.insert{
    background-color: blue;
    color: white;
    padding:1em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    margin-bottom:3em;
    margin-top:1em;
    margin-left:80%;
}

.edit:hover,.remove:hover,.submit:hover,.insert:hover {
    background-color: orange;
}

.edit.touched,.remove.touched {
    background-color: orange;
    color: white;
}

form.new_airline{
    width:50%;
    margin:auto;
    background-color:rgba(111,111,111,0.6);
    border-radius:10px;
}

form.new_airline .airline{
    margin:auto;
    margin-left:20%;
    padding-top:1em;
}

form.new_airline div{
    margin-top:1em;
    display:grid;
    grid-template-columns: repeat(2,auto);
    justify-content:space-evenly;
    gap:10px;
    text-align:justify;
}

form.new_airline input[type="submit"]{
    background-color: blue;
    color: white;
    padding:1em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    margin-top:1.4em;
    margin-left:43%;
    margin-bottom:1.4em;
}
form.new_airline input[type="submit"]:hover{
    background-color:orange;
}


form.new_airline{
    display:none;
}


#covid{
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:auto;
    background-color:rgba(0,0,0,0.3);
    z-index:2;
}

#covid .close{
    position:absolute;
    top:13px;
    right:13px;
    width:13px;
    height:13px;
    padding: 0.1em;
    background:rgb(160, 133, 133);
    text-align:center;
    line-height:15px;
    border-radius:15px;
    cursor:pointer;
}
#covid .wrap{
    position: relative;
    padding-left:0.2em;
    max-width:50em;
    height:32em;
    margin:auto;
    margin-top:1em;
    background-color:rgb(90, 23, 38);
    border:0.2em solid black;
    border-radius:10px;
    overflow-y:scroll;
}
#covid h2{
    text-align:center;
}
#covid div{
    line-height:150%;
    text-align:justify;
}
#covid ::-webkit-scrollbar{
    width:1em;
    height:1em;
}

#covid ::-webkit-scrollbar-track{
    background:lightblue;
    border-radius:100vw;
}

#covid ::-webkit-scrollbar-thumb{
    background:rgb(160, 133, 133);
    border:0.1em solid lightblue;
    border-radius:100vw;
}

#covid ::-webkit-scrollbar-hover{
    background:hsl(120 100% 10%/1);
}

#covid ul{
    list-style-type: square;
    margin: 1em 2em 1em 2em;
}
#covid ul li{
    margin-bottom: 1em;
}


@media only screen and (max-width: 1400px) {
    .company-info .row-info{
        display:grid;
        /* grid-template-columns:repeat(2,auto); */
        justify-content:space-around;
        grid-template:1fr/2fr 0.9fr;
        height:16em;
        text-align:center;
        padding:0.5em 0em;
    }
    .telephone div,.website div,.lost-found div,.entrance div{
        display:inline;  
    }
    .row-info .details{
        padding-right:2em;
    }
    div.selection{
        width:90%;
    }
    /* button.insert{
        margin:auto;
        margin-bottom:3em;
        margin-top:1em;
        margin-right:5em;
    } */
    form.new_airline{
        width:60%;
    }
}

@media only screen and (max-width: 1000px) {
    div.container{
        font-size:0.7em;
    }
    button.insert{
        margin-left:40%;
    }
    form.new_airline{
        font-size:0.8em;
        width:70%;
    }
}

@media only screen and (max-width: 900px) {
    div.container{
        font-size:0.6em;
    }
    form.new_airline{
        font-size:0.6em;
        width:50%
    }
    form.new_airline .airline{
        margin-left:17%;
    }
    form.new_airline input{
        font-size:0.6em;
    }
    form.new_airline input[type="submit"]{
        padding:0.8em 0.8em;
    }
    button.insert{
        margin-left:35%;
        font-size:0.6em;
    }
}
    

@media only screen and (max-width: 700px) {
    div.choices{
        width:14em;
    }
    .company-info{
        font-size:0.5em;
    }
    div.container{
        font-size:0.4em;
        margin:auto;
        width:94%;
        height:40em;
    }
    div.selection{
        width:auto;
    }
    button.edit,button.remove,button.submit{
        display:block;
        background-color: blue;
        color: white;
        padding:1em 1em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        margin-top:0.3em;
        margin-right:10%;
        font-size:0.8em;
    }
    .company-info .row-info{
        display:grid;
        grid-template:1fr/2fr 1fr;
        height:20em;
        text-align:center;
        padding:0.5em 0em;
    }

    .main~div{
        margin-left:35%;
    }
    button.insert{
        font-size:0.5em;
        margin-left:4%;
    }
    form.new_airline{
        width:70%;
    }
}


@media only screen and (max-width: 450px) {
    div.choices .departures{
        width:35%;
    }
    div.selection{
        width:90%;
    }
    .company-info .row-info{
        display:grid;
        grid-template:1fr/2fr 1fr;
        height:26em;
        text-align:center;
        padding:0.5em 0em;
    }
    .buttons{
        display:grid;
        grid-template:1fr 1fr 1fr/1fr;
    }
    button.edit,button.remove,button.submit{
        display:block;
        background-color: blue;
        color: white;
        padding:0.5em 0.5em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        margin-top:0.3em;
        margin-right:10%;
        font-size:0.8em;
    }
    .edit:hover,.remove:hover{
        background-color: orange;
    }
    .edit.touched,.remove.touched {
        background-color: orange;
        color: white;
        /* padding:0.5em 0.5em !important; */
    }
    .company-info .row-info .icon{
        width:32%;
        height:42%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-left:23%;
        padding:1em;
    }
    button.insert{
        margin-right:50%;
    }
}

@media only screen and (max-width:500px){
    form.new_airline{
        width:75%;
        padding-left:1.5em;
    }
    form.new_airline .airline label{
        font-size:1em;
        width:80%;
        
    }
    form.new_airline .airline label input{
        margin-left:20%;
    }
}


footer{
    margin-top: 0;
}

