:root {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/Front-end/images/flights.jpg");
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}
.companies{
    font-weight: bold;
}

div.main {
    width: 100%;
}

div.choices {
    margin:auto;
    background-color:rgb(111, 111, 111);
    display:flex;
    width:30%;
    height:auto;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
}

button.btn {
    padding:1em 0.8em;
    border:none;
    border:0.1em solid orange;
    cursor:pointer;
    color:white;
    background-color:blue;
    border-radius:500px;
}

button.touched{
    padding:1em 0.8em;
    border:none;
    border:0.1em solid orange;
    cursor:pointer;
    color:blue;
    background-color:orange;
    border-radius:500px;
    cursor:default;
}

button.btn:hover,button.btn:active {
    background-color: orange;
    color: white;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    margin-bottom: 1em;
}


.selection {
    background-color: black;
    width: 80%;
    margin: auto;
}

.airlines-container {
    overflow-y: scroll;
    height: 40em;
    border: 0.2em solid white;
}

.company-info {
    display: grid;
    grid-template: 1fr/1fr;
}

.company-info .row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    background-color: orange;
}

.company-info .row .company {
    padding: 1em 0em;
    font-size: 1.2em;
}

.company-info .row a {
    padding: 1.3em 0em;
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.company-info .row a:hover {
    color: blue;
}

.company-info .row-info {
    display: grid;
    grid-template: 1fr/2fr 1fr 1fr;
    height:11em;
    text-align: center;
    padding: 0.5em 0em;
}

.company-info .row-info .icon {
    width: 25%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left:40%;
    padding:1em;
}

.company-info .row-info .details div {
    padding: 0.2em 0em;
    margin: auto;
    text-align: justify;
}

.company-info .row-info .entrance {
    margin: auto;
    text-align: center;
}

.telephone div,.website div,.lost-found div,.entrance div{
    display:inline;
}


button.edit{
    background-color: blue;
    color: white;
    padding:1em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    margin: auto;
}

.edit:hover,.remove:hover {
    background-color: orange;
}

.edit.touched {
    background-color: orange;
    color: white;
}


.companies-flights{
    margin:1em 0em;
    display:none;
}

.companies-flights button{
    margin:1em 0em;
    width:25%;
    display:inline;
    padding:0.5em 0em;
    border:none;
    background-color:blue;
    color:white;
    font-size:1em;
    cursor:pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.companies-flights button.touched{
    width:25%;
    display:inline;
    padding:0.5em 0em;
    border:none;
    background-color:rgb(171, 171, 15) ;
    color:white;
    font-size:1em;
}

.companies-flights button:hover{
    background-color:rgb(171, 171, 15) ;
}

.companies-flights .choices{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:5px;
    flex-wrap:wrap;
    margin:auto;
    background-color:black;
    width:100%;
}

.companies-flights .company{
    margin-top:1em;
    text-align:center;
    font-size:1.5em;
}

.container{
    height:30em;
    background-color:black;
    overflow-y:scroll;
    width:101.5%;
}

.arrivals-table,.departures-table{
    border-collapse:collapse;
    min-width:400px;
    margin:1em 0;
    display:none;
}

thead tr{
    background-color:rgb(86, 85, 85);
    text-align:center;
    font-weight:bold;
}

th,td{
    padding:1em 4em;
}

tbody tr{
    border-bottom:1px solid #dddddd;
    text-align:center;
}

tbody tr:last-child{
    border-bottom:none;
}

.nonvisible{
    display:none;
}
