*{
    padding: 0;
    margin: 0;
}

:root{
    /*background-color:rgb(57, 57, 57);*/
    color:white;
    font-size:16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("/images/parking.jpg");
    background-size:cover;
}

.logo a img{
    height: 50px;
    width: 160px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top:0;
    font-size:1.3125em;
    flex-wrap: wrap;
}

.menu .menu-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu div{
    margin: 1em;
    text-align: center;
    align-self: center;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu .menu-left div:nth-child(n+2):nth-child(-n+6)::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: white;
    transition: 0.5s ease;
}
.menu .menu-left div:nth-child(n+2):nth-child(-n+6):hover::after {
    width: 100%;
}

.sign-up, .log-in {
    border-radius: 22px;
    padding: 1.25em 2em;
    border: none;
    background-color: rgb(111, 111, 111);
    margin-right: 2em;
}
.sign-up a, .log-in a{
    color: white;
    text-decoration: none;
}

.sign-up:hover, .log-in:hover{
    background-color: rgb(86, 85, 85);
    cursor:pointer;
}

.menu > img{
    height: 35px;
    width: 40px;
    left: 0;
}

.content{
    background-color:rgba(0, 0, 0, 0.7);
    margin:0% 12%;
}

.content .header-parking{
    text-align:center;
    font-size:3em;
}
.content p{
    text-align:center;
    font-size:1.25em;
    padding:1em;
}
.leftside h2,.rightside h2{
    text-align:center;
    font-size:1.5625em;
}
.details-parking{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:auto;
    width:auto;
    margin:auto;
    justify-content:center;
    gap:80px;
}

.parking-availability table{
    margin:auto;
}

.parking-availability{
    text-align:center;
}
.table th,td{
    text-align:center;
    padding:10px;
}
.leftside a,.rightside [type=submit]{
    background-color:rgb(34, 167, 212);
    border-radius:10px;
    margin:auto;
    /*padding:15px;*/
    padding: 1em 2em;
    /*color:rgb(34, 34, 34);*/
    text-decoration:none;
    color:white;
    transition-property: background-color color ;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.leftside a:hover,.rightside [type=submit]:hover{
    background-color:rgb(20, 115, 147);
}

.rightside [type=submit]{
    border:none;
    cursor:pointer;
}

.rightside{
    padding-left:0.2em;
    padding-right:0.2em;
    width:auto;
    text-align:center;
}
.rightside div{
    font-size:1.2em;
}

.rightside .part1{
    display:grid;
    margin:auto;
    flex-wrap:wrap;
    grid-template:auto auto/ auto auto;
    gap:10px 20px;
}
.rightside .part1,.rightside .part2{
    font-size:1em;
}
.rightside label,.rightside input{
    margin:0.32em;
}




footer{
    width:100%;
    margin-top:3em;
    padding:1em 0em;
    background-color:rgb(25, 25, 25);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    /*padding-left:6em;*/
}
footer>div{
    padding:0em 6.5em;
}

footer .communication-details .part1,footer .communication-details .part2{
    display:grid;
    grid-template-columns:repeat(2,auto);
    text-align:left;
    gap:2em;
}

footer h3{
    /*text-decoration:underline grey;*/
    border-bottom:0.2em solid grey;
    text-align:center;
}


footer .anakoinoseis:hover,footer .feedback:hover{
    color:rgb(249, 249, 142);
    cursor:pointer;
}