:root{
    background-color: rgb(46, 46, 46);
}

.signup{
    margin: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body form{
    width:40%;
    background-color: rgba(0,0,0,0.4);
    min-width: 230px;
}
body form > div{
    margin: 1em;
}
.age-sex span{
    margin-left: 1.75em;
}
.login div{
    font-size: 0.6em;
    padding-top: 0.8em;
}
.image{
    align-self: center;
    text-align: center;
    font-size: 1.25em;
}
.image img{
    width: 800px;
    height:450px;
}
.image p{
    padding-bottom: 1em;
}
.sub [type=submit] {
    border-radius: 22px;
    padding: 1.25em 2em;
    border: none;
    background-color: rgb(34, 167, 212);
    color: white;
}
.sub [type=submit]:hover{
    background-color:rgb(20, 115, 147);
    transition: all 0.25s linear;
    cursor: pointer;
}

.name [type=text], .login [type=text], .login [type=password], .communication [type=tel], .communication [type=email]{
    width:45%;
    height:2em;
    border-radius: 22px;
}
.age-sex [type=number]{
    width:10%;
    height:2em;
    min-width: 35px;
    border-radius: 22px;
}
.country select{
    width:45%;
    height:2em;
    min-width: 35px;
    border-radius: 22px;
}
.age-sex select{
    width:26%;
    height:2em;
    min-width: 75px;
    border-radius: 22px;
}