<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icarus</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/{{style}}">
</head>

<body>
    <div class="menu">
        <div class="menu-left">
            <div class="logo"><a href="/main-page-admin"><img src="/images/Icarus-logo.png"></a></div>
            <div class="flights"><a href="/flights-admin">Πτήσεις</a></div>
            <div class="companies"><a href="http://localhost:3000/companies-admin/A">Εταιρείες</a></div>
            <div class="shops"><a href="/shops">Καταστήματα</a></div>
        </div>
        <div class="menu-right">
            <button class="sign-up">Λογαριασμός</button>
        </div>
    </div>


    {{{body}}}

    <div id="covid" >
        <div class="wrap">
            <div class="close" onclick="covid_off()">&times;</div>
            <div class="covidtext">
                <h2>Ειδικά μέτρα για τον ιό Covid-19</h2>
                <div>Σύμφωνα με τις οδηγίες των εθνικών υγειονομικών αρχών, η σχολαστική τήρηση των κανόνων για το πλύσιμο / απολύμανση των χεριών και για την αναπνευστική υγιεινή, τη χρήση μασκών προσώπου, τη διατήρηση φυσικής απόστασης, τον πολύ καλό καθαρισμό και απολύμανση των χώρων και των επιφανειών, ειδικά εκείνων που αγγίζονται συχνά, αποτελούν τη βάση για την προστασία των επιβατών και των εργαζομένων στο Αεροδρόμιο Icarus. Οι επιβάτες που ταξιδεύουν με πτήσεις εσωτερικού ή εξωτερικού, θα πρέπει να έχουν υπόψη τους τα εξής:</div><br>
                <ul>
                    <li>
                        Η χρήση μάσκας προσώπου είναι υποχρεωτική σε όλους σε όλους τους εσωτερικούς χώρους του αεροδρομίου . Σημειώστε ότι, σύμφωνα με τον Εθνικό Οργανισμό Δημόσιας Υγείας, δεν πρέπει να χρησιμοποιούνται μάσκες προσώπου με βαλβίδες μονής κατεύθυνσης. Εξαιρούνται τα παιδιά κάτω των 4 ετών καθώς και άτομα με αναπνευστικά προβλήματα. Οι επιβάτες θα πρέπει επίσης να γνωρίζουν ότι μπορεί να τους ζητηθεί να αφαιρέσουν προσωρινά τη μάσκα τους κατά τη διάρκεια των διαδικασιών ελέγχου ασφάλειας και ταυτότητας.
                    </li>
                    <li>
                        Η χρήση μάσκας προσώπου είναι επίσης υποχρεωτική κατά την επιβίβαση, και μπορεί να είναι επίσης σε πολλές περιπτώσεις κατά τη διάρκεια της πτήσης. Συνιστάται η αλλαγή της μάσκας προσώπου κάθε 4 ώρες ή στην περίπτωση που η μάσκα προσώπου είναι βρεγμένη ή λερωμένη. Βεβαιωθείτε ότι έχετε αρκετές μάσκες για ολόκληρο το ταξίδι σας.
                    </li>
                    <li>
                        Οι υπάλληλοι του αεροδρομίου είναι εξοπλισμένοι με όλα τα είδη προσωπικής προστασίας (μάσκες, γάντια, απολυμαντικά υγρά), τα οποία χρησιμοποιούν ανά πάσα στιγμή κατά τη διάρκεια της εργασίας τους.
                    </li>
                    <li>
                        Απολυμαντικά χεριών είναι διαθέσιμα σε περισσότερα από 300 σημεία στο αεροδρόμιο, συμπεριλαμβανομένων και των τουαλετών, για χρήση από τους επιβάτες κατά τις διαδικασίες αναχώρησης και άφιξης.
                    </li>
                    <li>
                        Η τήρηση των αποστάσεων είναι ένα βασικό μέτρο για τους επιβάτες και το προσωπικό του αεροδρομίου και συνιστάται να τηρείται απόσταση 1 μέτρου σε όλες τις φάσεις των διαδικασιών, όταν είναι εφικτό. 
                    </li>
                    <li>
                        Τα καθίσματα σε όλους τους χώρους αναμονής έχουν αναδιαταχθεί, προκειμένου να επιτραπεί η τήρηση των ελάχιστων αποστάσεων. Συνιστάται να μείνει κενή μία θέση δίπλα σε κάθε καθήμενο επιβάτη. Οι οικογένειες ή τα ζευγάρια που ταξιδεύουν μαζί δεν χρειάζεται να κρατούν αυτή την απόσταση.     
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="anakoinoseis">
            <a><h3>Ανακοινώσεις</h3></a>
            <div class="anak">
                <a href="/announcements-admin/search?priority=high">Επείγουσες ανακοινώσεις</a>
            </div>
            <div class="anak">
                <a href="/announcements-admin/search?priority=normal">Γενικές ανακοινώσεις</a>
            </div>
        </div>
        <div class="communication-details"><h3>Στοιχεία επικοινωνίας</h3>
            <div>📞 2610567891</div>
            <div>📌 Αττική Οδός, Δήμος Σπάτων - Αρτέμιδος 190 04</div>
            <div>📧 info@icarus.gr</div>
            <div class="working-hours">Ώρες λειτουργίας αεροδρομίου: 24/7</div>
        </div>
        <div class="links">
            <h3>Χρήσιμα links</h3>
            <div class="lin">
                <a href="/flights-admin">Aναχωρήσεις-Aφίξεις</a>
            </div>
            <div class="lin">
                <a href="/main-page-admin#header">Σχετικά με εμάς</a>
            </div>
            <div class="lin">
                <a href="/companies-admin#covid" onclick="covid_on()">Μέτρα Covid</a>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/{{script}}"></script>
</body>

</html>
